
<form method="GET" action="/showimage">
    <img src="data/{{ value }}.jpeg" alt="User Image" width="200" height="200"></form>
<form method="GET" action="/showimage">
    <img src="data/{{ value1 }}.jpeg" alt="User Image" width="200" height="200"></form>
<form method="GET" action="/showimage">
    <img src="data/{{ value2 }}.jpeg" alt="User Image" width="200" height="200"></form>
<form method="GET" action="/showimage">
    <img src="data/{{ value3 }}.jpeg" alt="User Image" width="200" height="200"></form>
